$color-black: #000000;
$color-blue: #4f82ba;
$color-gray: #666666;
$color-gray-dark: #333333;
$color-green: #00ee00;
$color-grey: #eeeeee;
$color-grey-light: #FDFDFD;
$color-orange: #ff7f50;
$color-red: #ee0000;
$color-white: #ffffff;
