.pan {
    &-calculator {
        background-color: $color-white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .ar-spinner {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .graphic-right {
            position: absolute;
            bottom: 20px;
            right: 20px;
            width: 45%;
            height: auto;
        }

        .graphic-left {
            position: absolute;
            bottom: 20px;
            left: 20px;
            width: 45%;
            height: auto;
        }

        .graphic-center {
            position: absolute;
            bottom: 20px;
            left: 50%;
            width: 45%;
            height: auto;
            transform: translateX(-50%);
        }


        .back {
            width: 40px;
            height: 40px;
            left: 20px;
            top: 50%;
            transform: translate(0, -50%);
            padding: 0;
            position: absolute;
        }

        &-step {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 150px 40px 40px 40px;
            position: relative;
            min-width: 840px;
            height: 100%;

            .form-group {
                width: 100%;

                label {

                    span {
                        font-weight: 500;
                    }
                }
            }

            h4 {
                text-align: center;
                font-weight: bold;
                margin-bottom: 40px;
            }
        }

        .ar-checkpoints {
            position: absolute;
            left: 50%;
            top: 70px;
            transform: translate(-50%, -50%);
        }

        .product-detail {
            width: 640px;
            height: 322px;
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;
            padding: 0;
            margin: 0 0 32px 0;
            border: 1px solid $color-grey;
            background: $color-white;
            box-shadow: 1px 1px 5px 1px rgba($color-black, 0.1);

            .detail {
                padding-right: 20px;
            }

            .image {
                height: 100%;
                padding-top: 20px;
                background-size: cover;
                background-position: center;
                padding-right: 20px;

                img {
                    height: 100%;
                    width: auto;
                }
            }

            .label {
                font-weight: 600;
                font-size: 14px;
                color: $color-black;
                margin-bottom: 12px;
            }

            .info {
                color: $color-gray;
                font-size: 11px;
            }

            p {
                font-size: 14px;
                line-height: 1.2;
                margin-top: 14px;
            }
        }

        .products {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: stretch;
            width: 100%;
            margin: 0 0 32px 0;

            .product {
                width: 300px;
                height: 322px;
                margin: 0 20px;
                padding: 40px 20px 10px 20px;
                border: 1px solid $color-grey;
                background: $color-white;
                box-shadow: 1px 1px 5px 1px rgba($color-black, 0.1);

                .image {
                    text-align: center;
                    margin-bottom: 40px;

                    img {
                        height: 100px;
                        width: auto;
                    }
                }

                .label {
                    font-weight: 500;
                    font-size: 14px;
                    color: $color-black;
                    margin-bottom: 12px;
                    text-align: center;
                }

                .info {
                    color: $color-gray;
                    font-size: 11px;
                    text-align: center;
                }

                p {
                    font-size: 12px;
                    line-height: 1;
                    margin-top: 12px;
                    text-align: center;
                }

                button {
                    border-radius: 0;

                    &:hover {
                        background-color: rgba($primary, 0.8);
                    }
                }
            }
        }
    }
}
