$rtk-color-black: #000000 !default;
$rtk-color-blue: #4f82ba !default;
$rtk-color-gray: #666666 !default;
$rtk-color-gray-dark: #333333 !default;
$rtk-color-green: #00ee00 !default;
$rtk-color-grey: #eeeeee !default;
$rtk-color-grey-light: #fdfdfd !default;
$rtk-color-orange: #ff7f50 !default;
$rtk-color-red: #ee0000 !default;
$rtk-color-white: #ffffff !default;

$rtk-accent-color: $rtk-color-blue !default;

$rtk-brand-info-text-color: $rtk-color-gray !default;
$rtk-brand-name-text-color: $rtk-color-black !default;

$rtk-content-bg-color: $rtk-color-grey-light !default;
$rtk-content-box-shadow: 0 0 5px 2px rgba($rtk-color-black, 0.035) !default;
$rtk-content-text-color: $rtk-color-gray !default;

$rtk-sidebar-border-color: darken($rtk-color-grey-light, 2%) !default;
$rtk-sidebar-link-bg-color: $rtk-color-white !default;
$rtk-sidebar-link-text-color: $rtk-color-gray !default;
$rtk-sidebar-heading-bg-color: darken($rtk-color-white, 0.5%) !default;
$rtk-sidebar-heading-text-color: $rtk-color-gray-dark !default;

$rtk-toolbar-border-color: $rtk-color-grey !default;
$rtk-toolbar-bg-color: $rtk-color-white !default;
