html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    &,
    * {
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        line-height: 1;
    }
}

body {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: $rtk-font-body;

    &::before {
        display: block;
        height: 0;
        width: 0;
        overflow: hidden;
        visibility: hidden;
        content: json-encode($rtk-breakpoints);
    }

    &::after {
        display: block;
        height: 0;
        width: 0;
        overflow: hidden;
        visibility: hidden;
        content: json-encode($rtk-breakpoints-max);
    }
}

.rtk {
    display: flex;
    width: 100vw;

    svg {
        flex-shrink: 0;
    }
}
