.rtk-content {
    flex-grow: 1;
    min-height: 100vh;
    position: relative;
    background-color: $color-grey-light;
    box-shadow: 0 0 5px 2px rgba($color-black, 0.035);
    z-index: 100;
}

.dark {
    .rtk-content {
        color: $color-grey-light;
        background-color: $color-gray-dark;
    }
}
