.rtk-content {
    flex-grow: 1;
    min-height: 100vh;
    position: relative;
    color: $rtk-content-text-color;
    background-color: $rtk-content-bg-color;
    box-shadow: $rtk-content-box-shadow;
    z-index: 100;

    &-wrap {
        width: 100%;
        overflow-x: auto;
    }

    &-zone {
        @extend .rtk-row;
        padding: 20px 0;
        
    }
}

.rtk-element {
    margin: 20px 0;
}
